* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(16, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../icon/hcdcwebbg.png');
    background-size: cover;
    background-position: center;
}

.loginform {
    width: min(400px,95%);
    height: 600px;
    border: solid 1px blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    transition: all 1s;

}

/* Removed hover effect on loginform */
/* .loginform:hover {
    background-color: white;
} */

.inputgroup {
    position: relative;
    height: 50px;
    width: 85%;
}

.inputgroup input {
    position: absolute;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px black;
    color: black;
    font-size: 20px;
    transition: all 200ms;
}

.inputgroup label {
    position: absolute;
    transition: all 200ms;
    color: black;
    font-weight: bold;
}

.inputgroup input:hover +label,
.inputgroup input:focus +label,
.inputgroup input:valid +label {
    transform: translateY(-20px);
    color: rgb(0, 85, 255);
}

.inputgroup input:hover ,
.inputgroup input:focus ,
.inputgroup input:valid {
    border-bottom: solid 1px rgb(0, 85, 255);
}


.topmargin {
    margin-top: 50px;
}

.topmarginlarge {
    margin-top: 80px;
}

.divcallfroaction {
    width: 85%;
    height: 45px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btnlogin {
    border:solid 1px blue;
    width: 150px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.btnlogin:hover {
    transform: translateY(-5px);
    transition: 200ms;
}

.inactivecolor {
    background-color: rgb(190, 22, 22);
}
.activecolor {
    background-color: rgb(50, 168, 247);
}

.diverror {
    background-color: transparent;
    color: black;
    height: 45px;
    width: 85%;

    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.applyerrordiv {
    visibility: visible;
    opacity: 1;
    animation: falldown 2s linear;
    color: #dc2626; /* Red color for errors */
}

.applysuccessdiv {
    visibility: visible;
    opacity: 1;
    animation: falldown 2s linear;
    color: #16a34a; /* Green color for success */
}
@keyframes falldown {
    0%{opacity: 0;transform: translateY(-100px);}
    49%{opacity: 1;transform: translateY(0px);letter-spacing: 1px;}
    50%{opacity: 1;transform: translateY(0px);letter-spacing: 3px;}
    55%{opacity: 1;transform: translateY(0px);letter-spacing: 1px;}
    60%{opacity: 1;transform: translateY(-50px);}
    80%{opacity: 1;transform: translateY(0px);}
    85%{opacity: 1;transform: translateY(-10px);}
    100%{opacity: 1;transform: translateY(0px);}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

/* Login Options Styles */
.login-options {
    margin-top: 20px;
    text-align: center;
    width: 85%;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

.login-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login-row span {
    color: #666;
    font-size: 0.9rem;
}

.login-link {
    color: #2e7dff;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    font-weight: 500;
}

.login-link:hover {
    background-color: #f0f7ff;
    color: #1a5dcc;
    text-decoration: underline;
}